:root{
  --dark-color: #191C24;
  --black-color: #000000;
  --light-color: #E1E7FE;
  --white-color: #ffffff;
  --primary-color: #5B45FF;
  --acent-color: #FF0F77;
  --shadow-light: rgba(48,51,59,1);
  --shadow-dark: rgba(5,7,13,1);
  --border-button: #292B33;
  --family-primary: "CircularStd";
  --family-second: "CircularStd";
  --family-three: "Maison Neue";
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Black.eot");
  src: url("./fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-Black.woff") format("woff"), url("./fonts/CircularStd-Black.ttf") format("truetype"), url("./fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Book.eot");
  src: url("./fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("./fonts/CircularStd-Book.woff") format("woff"), url("./fonts/CircularStd-Book.ttf") format("truetype"), url("./fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./fonts/MaisonNeue-Light.woff2') format('woff2'),
    url('./fonts/MaisonNeue-Light.woff') format('woff'),
    url('./fonts/MaisonNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


html{
scroll-behavior: smooth;
}

body{
  background: var(--dark-color);
  color: var(--white-color);
  display: block;
  font-family: var(--family-second), sans-serif;
  margin:0;
  padding: 0;
  text-align: center;
  font-size: 1em;
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

h1,h2,h3,h4{
  display: inline-block;
  margin: 1em;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  font-family: var(--family-second);
  color: var(--white-color);
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.main{
  position: relative;
}
.header{
  padding: 36px 0;
  width: 100%;
  display: table;
}
.header-sketch{
  width: 50%;
  display: table-cell;
  text-align: left;
  padding-left: 20px;
}
.header-sketch img{
  width: 30px;
  vertical-align: middle;
  display: inline-block;
}
.header-sketch p{
  font-size: 16px;
  line-height: 30px;
  font-family: var(--family-second);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.header-share{
  text-align: right;
  display: table-cell;
  width: 50%;
  padding-right: 20px;
}

.button{
  background-color: var(--dark-color);
  display: inline-block;
  vertical-align: middle;
  color: var(--light-color);
  box-shadow: -5px -5px 10px 0 var(--shadow-light),
              5px 5px 10px 0 var(--shadow-dark);
}
.button.cta{
  padding: 24px 0;
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.5px;
  border-radius: 16px;
  max-width: 400px;
}
.button.small{
  padding: 8px 24px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: .5px;
  border-radius: 40px;
  margin-right: 8px;
  box-shadow: none;
  border: solid 2px var(--border-button);
}
.button.twitter{
  width: 48px;
  height: 48px;
  opacity: .7;
  border-radius: 50%;
  border: solid thin var(--border-button);
  background-image: url('./imgs/icon-twitter.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.button span{
  display: none;
}

.link{
  display: block;
  max-width: 400px;
  text-align: center;
  line-height: 40px;
  margin-top:20px;
  font-family: var(--family-second);
  opacity: .6;
}


.container{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.about{
  width: 100%;
  padding: 50px 30px;
  vertical-align: middle;
  text-align: left;
  order: 2;
}
.content{
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 4%;
}

.about-content{
  padding-top:20px;
  margin-bottom: 60px;
}
.about-title h1{
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  font-family: var(--family-primary);
  letter-spacing: -0.5px;
}
.about-description{
  margin: 20px 0;
}
.about-description p{
  font-family: var(--family-three);
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.3px;
  font-weight: 100;
}


.content img{
  max-width: 760px;
}

.modal{
  display: none;
}

@media only screen and (min-width:1025px){
  .header-sketch{
    padding-left: 60px;
  }
  .header-share{
    padding-right: 60px;
  }
  .container{
    display: table;
  }
  .about{
    display: table-cell;
    width: 40%;
    padding: 50px;
    vertical-align: middle;
    text-align: left;
  }
  .about-content{
    padding-top: 60px;
  }
  .about-title h1{
    font-size: 80px;
    line-height: 80px;
  }

  .content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 4%;
  }
  .button{
    border: solid 2px transparent;
    position: relative;
    overflow: hidden;
  }
  .button.small:hover{
    background-color: var(--border-button);
  }
  .button.twitter:hover{
    opacity: 1;
  }
  .link:hover{
    letter-spacing: .5px;
    opacity: 1;
  }

  .button.cta{
    color: var(--light-color);
  }
  .button.cta::before,
  .button.cta::after{
    content: '';
    display: block;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-repeat: no-repeat;
    background-size: 60px;
  }
  .button.cta::before{
    left: -100px;
    background-position: 20px center;
    background-image: url('./imgs/arrow-straight-right.svg');
  }
  .button.cta::after{
    right: -100px;
    background-position: 0 center;
    background-image: url('./imgs/arrow-straight-left.svg');
  }

  .button.cta:hover{
    color: var(--white-color);
  }
  .button.cta:hover::before{
    left: 0;
  }
  .button.cta:hover::after{
    right: 0;
  }
}

@media only screen and (min-width:1400px){
  .header-sketch {
    padding-left: 6%;
  }
  .header-share {
    padding-right: 6%;
  }
  .about{
    padding-left: 6%;
    padding-right: 7%;
  }
  .about-content{
    padding-top: 30%;
  }
  .content {
    padding: 2%;
  }
  .content img{
    max-width: 90%;
  }
  

}