:root {
    /* --col-acent:#305AFE; */
	--col-acent:#FE2525;
	--col-black:#000;
	--col-night:#100E0E;
	--col-gray:#666;
    --col-silver:#A5A5B1;
    --col-smoke:#E5E9F2;
	--col-snow:#F9F9FD;
	--col-white:#fff;

	--font-size-tiny: 14px;
    --font-size-sm: 19px;
    --font-size-lg: 28px;
    --font-size-xl: 40px;
    --font-size-2xl: 80px;

	--line-height-tiny: 24px;
    --line-height-sm: 30.4px;
    --line-height-lg: 37px;
    --line-height-xl: 50px;
    --line-height-2xl: 128px;
	
	--spacer-0: 0; 
    --spacer-tiny: 16px;
	--spacer-sm: 24px;
	--spacer: 40px;
	--spacer-lg: 80px;
	--spacer-xl: 160px;
    --spacer-2xl: 260px;
    --spacer-3xl: 400px;
	

	--transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --transition-2: all .3s ease-in-out;
}


/* ======================================= Normalize ======================================= */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    font-weight: normal;
}
p{
    margin-bottom: var(--spacer);
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
	width: 100%;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
pre,
code {
  font-family: Monaco, Courier, monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}





/* ======================================= Grid ======================================= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-smooth: auto;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.items-justify {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.items-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.items-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.items-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.items-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.items-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.items-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.items-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.container{
	max-width: 90vw;
	margin: 0 auto;
}

.col-small,
.col-middle,
.col-large,
.col-full { width: 100%;}



/* ======================================= DESIGN ======================================= */
::selection {
    background: var(--col-black);
    color: var(--col-snow);
    font-weight: 100;
}


html{
	scroll-behavior: smooth;
}

body{
	display: block;
	font-family: "DM Sans", sans-serif;
	color: var(--col-black);
	margin:0;
	padding: 0;
	text-align: center;
	font-weight: normal;
	transition: var(--transition);
	background-color: var(--col-snow);
    border-top: 2px var(--col-black) solid;
}

/* ======================================= Fonts ======================================= */
a{
	text-decoration: none;
    color: var(--col-gray);
	transition: var(--transition-2);
}
p{
	font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}
.Display{
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
}

.Title{
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}

.Subtitle{
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.Caption{
    font-size: var(--font-size-mini);
    line-height: var(--line-height-mini);
    text-transform: uppercase;
    color: var(--col-silver);
}
/* ======================================= Colors ======================================= */
.c-Bold{color: var(--col-black);}
.c-Subtle{color: var(--col-gray);}
.c-Minimal{color: var(--col-silver);}




/* ======================================= Links ======================================= */
.link{
	display: inline-block;
	position: relative;
}
.link:hover{
	transition: var(--transition-2);
	color: var(--col-black);
}
.link::after{
	position: absolute;
	content: '';
	background-color: var(--col-gray);
	height: 1px;
	transition: var(--transition-2);
	bottom: 0;
	width: 0;
	left: 0;
}
/* For links with underline visible */
.link.underline::after{
    width: 100%;
    background-color: var(--col-silver);
}
.link:hover::after{
	width: 100%;
	background-color: var(--col-black);
}






/* ======================================= Header + Navbar ======================================= */
/* .Header{} */

.Nav{
	padding: 40px 0;
}
.Nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.Nav ul li{
	display:  inline-block;
	margin-left: var(--spacer);
}
.Nav a{
    display: block;
	color: var(--col-black);
	line-height: 40px;
}
/* .Nav a:hover{} */

.Nav-logo{
	font-size: var(--font-size-sm);
	font-weight: 700;
}
.Nav-item{
	font-size: var(--font-size-tiny);
	line-height: var(--font-height-tiny);
	font-weight: 400;
}
.Nav-item.current{
	border-bottom: 1px var(--col-silver) solid;
}


.Menu{
}
.Menu li{
    margin-left: var(--spacer-0) !important;
    margin-right: var(--spacer);
}



/* ======================================= Sections ======================================= */
.Main{
    text-align: left;
}


.Section{
    margin-bottom: var(--spacer-lg);
}


.Hero{
    margin-top: var(--spacer);
}
.Hero .Content{
    margin-bottom: var(--spacer-xl);
}


.Work{
    margin-top: var(--spacer);
}



.Side{
    margin-bottom: var(--spacer);
}
.Side p{
	color: var(--col-gray);
}



.Content{
    display: inline-block;
    text-align: left;
}



figure{
    width: 100%;
    display: inline-block;
    margin: var(--spacer-0);
}
.image{
    margin-bottom: var(--spacer);
}
.image figcaption{
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
    text-transform: uppercase;
    color: var(--col-silver);
}



.video{
    width: 100%;
    position: relative;
}
.isPlaying{
    padding-top: 56.25%;
}
iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




/* ======================================= Slider ======================================= */

.Slider{
    text-align: left;
}
.Slider-content{}

.Slides{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: var(--spacer);
    margin-bottom: var(--spacer-tiny);
}
.Slides::-webkit-scrollbar {
    height: 2px;
}
.Slides::-webkit-scrollbar-thumb {
    background-color: var(--col-gray);
    border-radius: 10px;
}
.Slides::-webkit-scrollbar-track {
    background-color: var(--col-smoke);
}

.Slider-item{
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 50px;
    transform-origin: center center;
    transform: scale(1);
    transition: var(--transition-2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Slider-item img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: rgb(143, 143, 143);
    -webkit-filter: grayscale(1);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-height: 400px;
}



.Experience-Item{
    border-bottom: solid thin var(--col-silver);
}

.Experience-Item:first-child{
    border-top: solid thin var(--col-silver);
}

.Experience-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: var(--spacer) 0;
    transition: var(--transition);
    color: var(--col-black);
}
.Experience-Header:focus{
    border: none;
    outline: none;
}
.Experience-Header:hover .Experience-Toggle{
    background-color: var(--col-smoke);
}

.Experience-Header p{
    display: inline-block;
    max-width: 40%;
    margin: 0;
}

.Experience-Toggle{
    width: 32px;
    height: 32px;
    display: block;
    position: relative;
    transition: var(--transition-2);
    border-radius: 50%;
}
.Experience-Toggle::before{
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--col-black);
    top: calc(50% - 1px);
    left: 25%;
    content: '';
}
.Experience-Toggle::after{
    position: absolute;
    width: 2px;
    transition: var(--transition);
    height: 50%;
    background-color: var(--col-black);
    top: 25%;
    left: calc(50% - 1px);
    content: '';
}
.Experience-Header.isActive .Experience-Toggle::after{
    height: 0;
    top: 50%;
}



.Experience-Toggle span{
    display: none;
}


.Experience-Content{
    display: none;
    margin-bottom: var(--spacer);
}


.Thumbnail{}
.Thumbnail-Img{
    margin-bottom: var(--spacer-sm);
}
.Thumbnail-Content{

}
.Thumbnail-Title{
    vertical-align: top;
    display: inline-block;

}
.Thumbnail-Description{
    vertical-align: top;
    display: inline-block;
}





/* ======================================= Footer ======================================= */
.Footer{
	display: inline-block;
    width: 100%;
	text-align: left;
	padding: var(--spacer-sm) 0;
	background-color: var(--col-black);
    color: var(--col-white);
}
.Footer-Leave{
    padding: var(--spacer-lg) 0;
}
.Footer-Contact{
    margin-top: var(--spacer-lg);
    color: var(--col-gray);
}
.Footer-Contact p{
    margin: var(--spacer-sm) 0;
}
.Footer-Copy {
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
    border-top: solid 1px var(--col-gray);
    padding: var(--spacer-lg) 0;
}

.Footer .Content{
    margin-top: var(--spacer-lg);
}
.Footer a{
    color: var(--col-white);
    line-height: var(--line-height-sm);
}
.Footer a:hover{
    color: var(--col-silver);
}
.Footer .link:hover::after{
    background-color: var(--col-silver);
}
.Footer-menu{
	list-style: none;
	margin:0;
	padding:0;
}
.Footer-menu li{
	display: block;
	margin-bottom: var(--spacer);
}
.Footer-menu a{
	display: block;
}







/* ------------------------- Modifier ------------------------- */
.-limited{
    max-width: 610px;
}

.no-mobile{
	display: none;
}
.no-desktop{
	display: block;
}










.Products{
	display: inline-block;
	width: 100%;
	text-align: left;
}



/* 
.Products-Item{
	background: var(--col-white);
	padding: var(--spacer-tiny);
	display: inline-block;
	margin-bottom: var(--spacer-sm);
}
.Products-Item .category{
	font-size: var(--font-size-tiny);
	line-height: var(--font-height-tiny);
	margin: 0;
}
.Products-Item h2{
	font-size: var(--font-size-sm);
	line-height: var(--font-height-tiny);
	margin: 0;
	color: var(--col-black);
}
.Products-Item p{
	font-size: var(--font-size-tiny);
	line-height: var(--font-height-tiny);
	color: var(--col-gray);
} */



/* ==============================================================================
================================== Tablet ====================================== 
=================================================================================*/
@media only screen and (min-width:768px){
 
	/* .col-small{ width: 30vw;}
	.col-large{ width: 60vw;} */
	.col-middle{ width: 40.347vw; }
    .col-small{ width: 45%; }
	.col-large{ width: 55%; }
	.col-full { width: 100%; }
	
	.no-mobile{
		display: block;
	}
	.no-desktop{
		display: none;
	}


    .Section{
        margin-bottom: var(--spacer-xl);
    }

    .Hero .Content{
        margin-bottom: var(--spacer-0);
    }

    .Hero, .Work{
        margin-top: var(--spacer-lg);
    }

    .Thumbnail-Title{
        width: 25%;
    
    }
    .Thumbnail-Description{
        max-width: 74%;
    }


    .Footer .Content{
        margin-bottom: var(--spacer-xl);
        margin-top: var(--spacer-0);
    }




}


/* ==============================================================================
================================== Desktop ====================================== 
=================================================================================*/
@media only screen and (min-width:1200px){
	body{
		cursor: url(./Static/images/cursor.png) 8 8, auto;
        cursor: -webkit-image-set( url(./Static/images/cursor.png) 1x, url(./Static/images/cursor@2x.png) 2x ) 8 8, auto !important;
	}
    body a{
		cursor: url(./Static/images/cursor-hover.png) 8 8, auto;
        cursor: -webkit-image-set( url(./Static/images/cursor-hover.png) 1x, url(./Static/images/cursor-hover@2x.png) 2x ) 8 8, auto !important;
	}

	
    .Section{
        margin-bottom: var(--spacer-xl);
    }


	/* .Header{} */

    .Hero, .Work{
        margin-top: var(--spacer-xl);
    }
    .Hero .Content{
        margin-bottom: var(--spacer-0);
    }

	.Side{
        margin-bottom: var(--spacer-0);
	}
	
	.Side p{
		font-size: var(--font-size-sm);
		line-height: var(--font-height-sm);
	}





    .Slider-item{
        width: auto;
    }
    .Slider-item img{
        max-height: 600px;
    }

    .Slider-item img:hover{
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }




	.Footer{
		padding-top: var(--spacer-xl);
		padding-bottom: var(--spacer-0);
	}
    .Footer-Copy{
        margin-top: var(--spacer-lg);
    }
    .Footer .col-large{
        text-align: right;
    }
	.Footer-menu{
        text-align: right;
    }
    .Footer-menu li{
		display: inline-block;
		margin:0 32px 0 0;
	}


    

	
	.Products-Item{
		padding: var(--spacer-sm);
	}
	.Products-Item:hover{
		box-shadow: 0 15px 30px -6px rgb(0 0 0 / 05%);
	}
	.Products-Item:hover .link::after{
		width: 100%;
	}


}




/* Linker Direct me
_____________________________________________________ */

/* .Directme{
	text-align: left;
	margin-bottom: var(--spacer-xl);
}
.Directme li{
	margin-bottom: 20px;
}

.Directme li a{
	font-size: 20px;
}  */




/* ==============================================================================
================================== Wide Desktop ====================================== 
=================================================================================*/
@media only screen and (min-width:1600px){
	.container{ max-width: 1600px; }
	/* .col-small{ width: 610px; } */
	.col-middle{ width: 50%;}
	/* .col-large{ width: 926px; } */
	.col-full { max-width: 98vw; margin: 0 auto; }

    .Section{
        margin-bottom: var(--spacer-2xl);
    }
    
    .Hero, .Work{
        margin-top: var(--spacer-2xl);
    }

    .Slider-content{
        margin-left: calc(50% - 800px);
    }
    
    
    .Footer-Leave{ padding-bottom: var(--spacer-3xl); }
    .Footer-Copy{ margin-top: var(--spacer-3xl); }
    
}

/*
 @media (prefers-color-scheme: dark) {
	body{
		background-color: var(--col-black);
		color: var(--col-snow);
		cursor: url(./Static/images/cursor-dark.png) 8 8, auto;
    cursor: -webkit-image-set( url(./Static/images/cursor-dark.png) 1x, url(./Static/images/cursor-dark@2x.png) 2x ) 8 8, auto !important;
	}
    body a{
		cursor: url(./Static/images/cursor-dark-hover.png) 8 8, auto;
        cursor: -webkit-image-set( url(./Static/images/cursor-dark-hover.png) 1x, url(./Static/images/cursor-dark-hover@2x.png) 2x ) 8 8, auto !important;
	}

    ::selection {
        background: var(--col-snow);
        color: var(--col-black);
        font-weight: 100;
    }
    
    .c-Bold{color: var(--col-white);}
    .c-Subtle{color: var(--col-gray);}
    .c-Minimal{color: var(--col-silver);}

	.Nav a{
		color: var(--col-white);
	}
	.Footer{
		background-color: var(--col-night);
	}
	.Description .link {
		color: var(--col-snow);
	}
    
    .link {
        color: var(--col-white);
    }
    .link:hover {
    color: var(--col-white);
	}
	.link:hover::after{
    background-color: var(--col-white);
	}
    
    .Experience-Header{
        color: var(--col-white);
    }
    .Experience-Header:hover .Experience-Toggle{
        background-color: var(--col-gray);
    }
    .Experience-Toggle::before, .Experience-Toggle::after{
        background-color: var(--col-white);
    }




	.Products-Item{
		background-color: var(--col-black);
	}
	.Products-Item h2{
		color: var(--col-white);
	}
	.Products-Item p{
		color: var(--col-gray);
	}
		
} */