:root {
    /* --col-acent:#305AFE; */
	--col-acent:#FE2525;
	--col-black:#000;
	--col-night:#100E0E;
    --col-stale:#262A30;
	--col-gray:#758193;
    --col-silver:#A5A5B1;
    --col-smoke:#DADFEC;
	--col-snow:#F9F9FD;
	--col-white:#fff;

	--font-size-tiny: 15px;
    --font-size-sm: 17px;
    --font-size-lg: 20px;
    --font-size-xl: 36px;
    --font-size-2xl: 50px;

	--line-height-tiny: 24px;
    --line-height-sm: 28px;
    --line-height-lg: 28px;
    --line-height-xl: 46px;
    --line-height-2xl: 60px;

	--spacer-0: 0;
    --spacer-mini: 8px;
    --spacer-tiny: 16px;
	--spacer-sm: 24px;
	--spacer: 40px;
	--spacer-lg: 80px;
	--spacer-xl: 160px;
    --spacer-2xl: 260px;
    --spacer-3xl: 400px;


	--transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --transition-2: all .3s ease-in-out;
}


/* ======================================= Normalize ======================================= */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    font-weight: normal;
}
p{
    margin-bottom: var(--spacer);
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
	width: 100%;
}
pre,
code {
  font-family: Monaco, Courier, monospace;
}
pre {
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
}





/* ======================================= Grid ======================================= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-smooth: auto;
  box-sizing: border-box;
}

.row {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.items-justify {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.items-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.items-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.items-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.items-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.items-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.items-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  align-items: center;
}
.items-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.container{
	margin: 0 auto;
	width: 100%;
    padding: 0 var(--spacer-sm);
}

.col-small,
.col-middle,
.col-large,
.col-full { width: 100%;}

.col-2cols{ width: 49%;}


/* ======================================= DESIGN ======================================= */
::selection {
    background: var(--col-black);
    color: var(--col-snow);
    font-weight: 100;
}


html{
	scroll-behavior: smooth;
}

body{
	display: block;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
	margin:0;
    border-top: 2px var(--col-black) solid;
	background-color: var(--col-black);
	padding: 0;
	color: var(--col-black);
	font-weight: normal;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
	font-family: "DM Sans", sans-serif;
	text-align: center;
}

/* ======================================= Fonts ======================================= */
a{
	transition: var(--transition-2);
    color: var(--col-gray);
	text-decoration: none;
}
p{
	font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}
.Display{
    /* font-weight: 300; */
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
}

.Title{
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}

.Subtitle{
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.Caption{
    color: var(--col-silver);
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
}
/* ======================================= Colors ======================================= */
.c-Bold{color: var(--col-black);}
.c-Subtle{color: var(--col-gray);}
.c-Minimal{color: var(--col-silver);}




/* ======================================= Links ======================================= */
.link{
	display: inline-block;
	position: relative;
}
.link:hover{
	transition: var(--transition-2);
	color: var(--col-black);
}
.link::after{
	position: absolute;
	bottom: -1px;
	left: 0;
	transition: var(--transition-2);
	background-color: var(--col-gray);
	width: 0;
	height: 1px;
	content: '';
}
/* For links with underline visible */
.link.underline::after{
    background-color: var(--col-silver);
    width: 100%;
}
.link:hover::after{
	background-color: var(--col-black);
	width: 100%
}






/* ======================================= Header + Navbar ======================================= */
.Header{
    background-color: var(--col-snow);
}
.Nav{
	padding: 40px 0;
}
.Nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.Nav ul li{
	display:  inline-block;
	margin-left: var(--spacer);
}
.Nav a{
    display: block;
	color: var(--col-black);
	line-height: 40px;
}
/* .Nav a:hover{} */

@keyframes bg-nodos {
    0%{
        background-image: url(./Static/images/nodos-ds.png);
    }
    80%{
        background-image: url(./Static/images/nodos-ds.png);
        background-position: -192px;
    }
    100%{
        background-image: none;
        background-position: -192px;
    }
}
@keyframes  bg-nodos-dark {
    0%{
        background-image: url(./Static/images/nodos-ds-dark.png);
    }
    80%{
        background-image: url(./Static/images/nodos-ds-dark.png);
        background-position: -192px;
    }
    100%{
        background-image: none;
        background-position: -192px;
    }
}
@keyframes bg-m {
    0%{
        opacity: 0;
    }
    81%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showing {
    0%{
        opacity: 0;
        transform: translateX(-10px);
    }
    81%{
        opacity: 0;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
/* Animation for fake-loader */
.showing1{animation: showing 600ms;}
.showing2{animation: showing 800ms;}
.showing3{animation: showing 1000ms;}
.showing4{animation: showing 1200ms;}
.showing5{animation: showing 1400ms;}
.showing6{animation: showing 1600ms;}
.showing7{animation: showing 1800ms;}




.Nav-logo{
	font-weight: 700;
	font-size: var(--font-size-lg);
    width: 32px;
    height: 32px;
    background-size: 192px;
    background-position: 0 0;
}
.Nav-logo.loader{
    animation: bg-nodos 1.2s steps(6) 1;
}

.Nav-logo span { 
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    transition: var(--transition-2);
    animation: bg-m 1.4s;
}


.Nav-item{
	font-weight: 400;
	font-size: var(--font-size-tiny);
	line-height: var(--font-height-tiny);
}
.Nav-item.current{
	border-bottom: 2px var(--col-silver) solid;
}


.Menu{}
.Menu li{
    margin-right: var(--spacer);
    margin-left: var(--spacer-0) !important;
}
.Menu li:last-child{
    margin-right: var(--spacer-0);
}




/* Light & Dark Control */
.btn-lightDark{
	display: inline-block;
	position: relative;
    vertical-align: middle;
	opacity: 1;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: auto !important;
	margin:0 30px 0 0;
    border: solid thin var(--col-black);
    border-radius: 12px;
    background-color: var(--col-white);
	padding:0 !important;
	width: 48px;
	height: 24px;
	overflow :hidden;
}
.btn-lightDark:after{
    display: block;
    position : absolute;
    top : 8px;
    left: 8px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 50%;
    background-color: var(--col-black);
    width : 8px;
    height: 8px;
    content: '';
}
.is-night {
    box-shadow:inset 0px 0px 0px 1px var(--col-white);
    border: none;
    background-color: var(--col-black);
}
.is-night:after {
    left: 32px;
	background-color: var(--col-white);
}








/* ======================================= Sections ======================================= */
.Main{
    background-color: var(--col-snow);
    text-align: left;
}

.Section{
    padding-bottom: var(--spacer-lg);
}
.Section.Last .container{
    padding-top: var(--spacer-2xl);
    border-top: solid thin var(--col-gray);
}


.Hero{
    padding-top: var(--spacer);
}
.Hero .Content{
    /* margin-bottom: var(--spacer); */
}

.Hero.Home{
    margin-top: var(--spacer-0);
    margin-bottom: var(--spacer-0);
    padding-top: var(--spacer-xl);
    padding-bottom: var(--spacer-lg);
    min-height: 80vh;
}


.Work{
    margin-top: var(--spacer);
}
.Work-List{
    display: block;
    margin-top: var(--spacer-sm);
    width: 100%;
}

.Work-Item{
    display: block;
    transition: var(--transition-2);
    border-bottom: solid thin var(--col-silver);
    padding: var(--spacer) 0;
    width: 100%;
}

.Work-Item:hover{
    color: var(--col-silver);
}


.Work-Item:first-child{
    border-top: solid thin var(--col-silver);
}
.Work-Item:focus{
    outline: none;
    border: none;
}
.Work-Item *{
    display: inline-block;
    margin: 0;
    width: 100%;
}
.Work-Item-Icon{
    position: relative;
    transition: var(--transition-2);
    margin-top: var(--spacer-lg);
    margin-right: var(--spacer);
    background-color: var(--col-black);
    width: 20px;
    height: 2px;
}
.Work-Item-Icon span{display: none;}


.Work-Item-Icon::before{
    position: absolute;
    top: -4px;
    right: -3px;
    transform: rotate(45deg);
    background-color: var(--col-black);
    width: 12px;
    height: 2px;
    content: '';
}
.Work-Item-Icon::after{
    position: absolute;
    top: -1px;
    right: 2px;
    transform: rotate(45deg);
    background-color: var(--col-black);
    width: 2px;
    height: 12px;
    content: '';
}







.Side{
    margin-bottom: var(--spacer);
}

.Side h1{
    margin-bottom: var(--spacer);
}

.Side p{
	color: var(--col-gray);
}



.Content{
    display: inline-block;
    text-align: left;
}

.Content p:last-child{
    margin-bottom: 0;
}

.Content.t-Center{
    text-align: center;
}



figure{
    display: inline-block;
    margin: var(--spacer-0);
    width: 100%;
}
.image{
    margin-bottom: var(--spacer-sm);
}
.image figcaption{
    color: var(--col-gray);
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
}



video ,.video{
    position: relative;
    width: 100%;
}

.isPlaying{
    padding-top: 56.25%;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* ======================================= Slider ======================================= */

.Slider{
    text-align: left;
}
.Slider-content{}

.Slides{
    -webkit-overflow-scrolling: touch;
    display: flex;
    margin-bottom: var(--spacer-tiny);
    padding-bottom: var(--spacer);
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.Slides::-webkit-scrollbar {
    height: 2px;
}
.Slides::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--col-gray);
}
.Slides::-webkit-scrollbar-track {
    background-color: var(--col-smoke);
}

.Slider-item{
    display: flex;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transform-origin: center center;
    transition: var(--transition-2);
    margin-right: 50px;
    scroll-snap-align: start;
}
.Slider-item img{
    filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: rgb(143, 143, 143);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-height: 400px;
}



.Experience-Item{
    border-bottom: solid thin var(--col-silver);
}

.Experience-Item:first-child{
    border-top: solid thin var(--col-silver);
}

.Experience-Header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-2);
    padding: var(--spacer) 0;
    color: var(--col-black);
}
.Experience-Header:focus{
    outline: none;
    border: none;
}
.Experience-Header:hover{
    color: var(--col-gray);
}
.Experience-Header:hover .Experience-Toggle{
    background-color: var(--col-smoke);
}

.Experience-Header p{
    display: inline-block;
    margin: 0;
    max-width: 40%;
}

.Experience-Toggle{
    display: block;
    position: relative;
    transition: var(--transition-2);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.Experience-Toggle::before{
    position: absolute;
    top: calc(50% - 1px);
    left: 25%;
    background-color: var(--col-black);
    width: 50%;
    height: 2px;
    content: '';
}
.Experience-Toggle::after{
    position: absolute;
    top: 25%;
    left: calc(50% - 1px);
    transition: var(--transition);
    background-color: var(--col-black);
    width: 2px;
    height: 50%;
    content: '';
}
.Experience-Header.isActive .Experience-Toggle::after{
    top: 50%;
    height: 0;
}



.Experience-Toggle span{
    display: none;
}


.Experience-Content{
    display: none;
    margin-bottom: var(--spacer);
}


.Thumbnail{}
.Thumbnail-Img{
    margin-bottom: var(--spacer-sm);
}
.Thumbnail-Content{

}
.Thumbnail-Title{
    display: inline-block;
    vertical-align: top;

}
.Thumbnail-Description{
    display: inline-block;
    vertical-align: top;
}


.List{
    padding: 0;
    list-style: none;
    margin-top: 0;
}
.List li{
    display: block;
    margin-bottom: var(--spacer-sm);
}
.List p{
    font-size: var(--font-size-tiny) !important;
    line-height: var(--line-height-tiny) !important;
    margin: 0;
    color: var(--col-black)
}
.List span{
    display: inline-block;
    width: 100%;
    color: var(--col-gray);
}


.Quote{
    margin: var(--spacer-sm) var(--spacer-sm);
}
.Quote-Author{
    padding-top: var(--spacer);
}
.Quote-Author-img{
    border-radius: 100%;
    width: 56px;
    height: 56px;
    overflow: hidden;
    display: inline-block;
}
.Quote-Author-Name{
    display: inline-block;
    width: calc(100% - 80px);
    padding-left: 20px;
    vertical-align: top;
}
.Quote-Author-Name p{
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
}
.Quote p{
    margin-bottom: 0;
}


/* ======================================= Footer ======================================= */
.Footer{
	display: inline-block;
	background-color: var(--col-dark);
	padding: var(--spacer-sm) 0;
    width: 100%;
    color: var(--col-white);
	text-align: left;
}

.Footer.Home{
    background-color: var(--col-snow);
    padding: 0;
    color: var(--col-black);
}

.Footer.Home a{
    color: var(--col-black);
}

.Footer.Home .Footer-Copy{ margin: 0; color:  var(--col-silver);}

.Footer.Home .Footer-Copy p{
    font-size: var(--font-size-tiny);
}

.Footer-Leave{
    padding: var(--spacer-lg) 0;
}
.Footer-Contact{
    color: var(--col-gray);
}
.Footer-Contact p{
    margin: var(--spacer-sm) 0;
}
.Footer-Copy {
    border-top: solid 1px var(--col-night);
    padding: var(--spacer-lg) 0;
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
}
.Footer.Home .Footer-Copy{
    border-top: solid 1px var(--col-stale);
}

.Footer-Copy p{
    display: inline-block;
    margin: 0;
    color: var(--col-gray);
    font-size: var(--font-size-tiny);
}

.Footer .Content{
    margin-top: var(--spacer-lg);
}
.Footer a{
    color: var(--col-white);
    line-height: var(--line-height-sm);
}
.Footer a:hover{
    color: var(--col-silver);
}
.Footer .link:hover::after{
    background-color: var(--col-silver);
}
.Footer-menu{
	margin:0;
	padding:0;
	list-style: none;
}
.Footer-menu li{
	display: block;
	margin-bottom: var(--spacer);
}







/* ------------------------- Modifier ------------------------- */
.-limited{
    max-width: 610px;
}

.no-mobile{
	display: none !important;
}
.no-desktop{
	display: block !important;
}




/* ------------------------- Security ------------------------- */
.Security{ background-color: var(--col-black); color: var(--col-white); }
.Security .row{ min-height: 100vh; }

.protected{display: block;}

.protected__content { margin-bottom: var(--spacer);}

.protected__alert {
    display: none;
    border-bottom: 1px solid transparent;
    background-color: #500F0B;
    padding: var(--spacer-tiny) var(--spacer-sm);
    color: var(--col-acent);
}
.protected__alert p{ margin: 0; }

.protected__content__input {
    display: inline-block;
    transition: var(--transition-2);
    margin-top: var(--spacer-tiny);
    margin-bottom: var(--spacer-tiny);
    border: solid thin var(--col-silver);
    background-color: transparent;
    padding: var(--spacer-tiny);
    min-width: 300px;
    max-width: 500px;
    color: var(--col-white);
    font-size: var(--font-size-sm);
    line-height: var(--font-height-sm);
}
.protected__content__input:focus {
    outline: none;
    border-color: var(--col-white);
}
.protected__content__btn {
    display: inline-block;
    transition: var(--transition-2);
    cursor: pointer;
    border: none;
    border: solid thin var(--col-white);
    background-color: var(--col-white);
    padding: var(--spacer-tiny);
    padding: var(--spacer-tiny);
    font-size: var(--font-size-sm);
    line-height: var(--font-height-sm);
}
.protected__content__btn:hover {
    border-color: var(--col-smoke);
    background-color: var(--col-smoke);
}

.protected__request{ color: var(--col-gray);}
.protected__request a:hover{ color: var(--col-white);}













/* ==============================================================================
================================== Tablet ======================================
=================================================================================*/
@media only screen and (min-width:768px){
    

	.container{
        padding: 0 var(--spacer-lg);
    }

	.no-mobile{
		display: block !important;
	}
	.no-desktop{
		display: none !important;
	}


    .Section{
        padding-bottom: var(--spacer-xl);
    }


    .Hero .Content{
        margin-bottom: var(--spacer-0);
    }

    .Hero{
        padding-top: var(--spacer-lg);
    }

    .Work-Item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .Work-Item *{
        display: inline-block;
        margin: 0;
        width: 40%;
    }
    .Work-Item-Icon{
        margin-top: var(--spacer-0);
        margin-right: var(--spacer-tiny);
        width: 20px;
    }
    .Work-Item:hover .Work-Item-Icon{
        margin-right: var(--spacer-0);
        margin-left: var(--spacer-tiny);
    }

    .List li{
        margin-bottom: var(--spacer-mini);
    }
    .List span{
        display: inline-block;
        max-width: 160px;
    }



    .Thumbnail-Title{
        width: 25%;

    }
    .Thumbnail-Description{
        max-width: 74%;
    }



    .Footer .Content{
        margin-top: var(--spacer-0);
        margin-bottom: var(--spacer-xl);
    }
    .Footer-menu li{
        display: inline-block;
        margin-right: var(--spacer-sm);
    }




}


/* ==============================================================================
================================== Desktop ======================================
=================================================================================*/
@media only screen and (min-width:1200px){
    :root{
        --font-size-sm: 19px;
        --font-size-lg: 28px;
        --font-size-xl: 40px;
        --font-size-2xl: 56px;

        
        --line-height-sm: 32px;
        --line-height-lg: 37px;
        --line-height-xl: 50px;
        --line-height-2xl: 60px;

    }


    .container{
        padding: 0 var(--spacer);
    }

    .col-small{ width: 38%;}
	.col-middle{ width: 49.5%;}
	.col-large{ width: 60%;}
    .col-full { max-width: 100%; }

    body{
        transition: all 1800ms;
		cursor: url(./Static/images/cursor.png) 8 8, auto;
        cursor: -webkit-image-set( url(./Static/images/cursor.png) 1x, url(./Static/images/cursor@2x.png) 2x ) 8 8, auto !important;
	}
    body a{
        transition: all 1800ms;
		cursor: url(./Static/images/cursor-hover.png) 8 8, auto;
        cursor: -webkit-image-set( url(./Static/images/cursor-hover.png) 1x, url(./Static/images/cursor-hover@2x.png) 2x ) 8 8, auto !important;
	}
    


    .Section{
        padding-bottom: var(--spacer-xl);
    }

    /* .Section.Hero{
        padding-bottom: var(--spacer-lg);
    } */


	/* .Header{} */

    .Nav-logo{
        font-size: var(--font-size-sm);
    }

    .Hero.Home{
        padding-top: var(--spacer-xl);
        min-height: 90vh;
    }

    .Hero{
        padding-top: var(--spacer-lg);
    }
    .Hero .Content{
        margin-bottom: var(--spacer-0);
    }


    .Case{
        margin-top: var(--line-height-2xl);
        padding-top: var(--spacer-tiny);
    }

	.Side{
        margin-bottom: var(--spacer-0);
	}
    .Side h1{
        margin-bottom: var(--spacer-tiny);
    }
    

	.Side p{
		font-size: var(--font-size-sm);
		line-height: var(--font-height-sm);
	}





    .Slider-item{
        width: auto;
    }
    .Slider-item img{
        max-height: 600px;
    }

    .Slider-item img:hover{
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }


	.Footer{
		padding-top: var(--spacer-xl);
		padding-bottom: var(--spacer-0);
	}
    .Footer.Home{
        padding: 0;
    }
    .Footer-Copy{
        margin-top: var(--spacer-lg);
    }

    .Footer .col-large{
        text-align: right;
    }
    .Footer-Copy .col-large{
        text-align: left;
    }
    .Footer-Copy .col-small{
        text-align: right;
    }

    .Footer.Home .col-small{
        text-align: right;
    }
    .Footer.Home .col-large{
        text-align: left;
    }

    .Footer-menu li{
		display: inline-block;
		margin:0 32px 0 0;
	}


	.Products-Item{
		padding: var(--spacer-sm);
	}
	.Products-Item:hover{
		box-shadow: 0 15px 30px -6px rgb(0 0 0 / 05%);
	}
	.Products-Item:hover .link::after{
		width: 100%;
	}

    .motionCoin{
        height: 600px;
    }
    .Coin{
        transform: scale(1.5);
    }


}




/* Linker Direct me
_____________________________________________________ */

/* .Directme{
	text-align: left;
	margin-bottom: var(--spacer-xl);
}
.Directme li{
	margin-bottom: 20px;
}

.Directme li a{
	font-size: 20px;
}  */


@media only screen and (min-width:1400px){
    :root {
        --font-size-2xl: 60px;
        --line-height-2xl: 100px;
    }
    .container{ max-width: 1300px; }

    .col-small{ max-width: 620px;}
    .col-large{ max-width: 700px;}
    
    .Hero.Home{
        padding-top: var(--spacer-xl);
        min-height: 86vh;
    }
    .Side h1{
        margin-bottom: var(--spacer-0);
    }
    .Case{
        padding-top: var(--spacer-0);
    }

    .Work-Item{
        padding: var(--spacer-lg) 0;
    }
}



/* ==============================================================================
================================== Wide Desktop ======================================
=================================================================================*/
@media only screen and (min-width:1600px){
    :root {
        --font-size-2xl: 80px;
        --line-height-2xl: 128px;
    }
	.container{ max-width: 1600px; }
	.col-middle{ width: 49.5%;}
	.col-full { margin: 0 auto; max-width: 100%; }

    .Hero.Home{padding-top: var(--spacer-3xl);}
    .Hero{
        padding-top: var(--spacer-2xl);
    }

    .Case{
        margin-top: var(--line-height-2xl);
    }

    .Slider-content{
        margin-left: calc(50% - 800px);
    }

    .Footer-Leave{ padding-bottom: var(--spacer-2xl); }
    .Footer-Copy{ margin-top: var(--spacer-3xl); }
    .Footer.Home .Footer-Copy{ margin: 0; }

}



/* ======================== DARK THEME ======================== */
body.Dark {
    cursor: url(./Static/images/cursor-dark.png) 8 8, auto;
    cursor: -webkit-image-set( url(./Static/images/cursor-dark.png) 1x, url(./Static/images/cursor-dark@2x.png) 2x ) 8 8, auto !important;
    background-color: var(--col-black);
    color: var(--col-snow);
}
body.Dark a{
    cursor: url(./Static/images/cursor-dark-hover.png) 8 8, auto;
    cursor: -webkit-image-set( url(./Static/images/cursor-dark-hover.png) 1x, url(./Static/images/cursor-dark-hover@2x.png) 2x ) 8 8, auto !important;
}
.Dark .btn-lightDark{ cursor: pointer !important; }
.Dark ::selection {background: var(--col-snow); color: var(--col-black); font-weight: 100;}
.Dark .c-Bold{color: var(--col-white);}
.Dark .c-Subtle{color: var(--col-gray);}
.Dark .c-Minimal{color: var(--col-silver);}
.Dark Nav,.Dark .Main{background-color: var(--col-black);}
.Dark .Nav a{color: var(--col-white);}
.Dark .Nav-logo.loader{animation: bg-nodos-dark 1.2s steps(6) 1;}
.Dark .Footer{border-top: solid 1px var(--col-night); background-color: var(--col-night);}
.Dark .Footer.Home{border: none;background-color: var(--col-black); color: var(--col-snow);}
.Dark .Footer.Home a{color: var(--col-snow);}
.Dark .Description .link {color: var(--col-snow);}
.Dark .List p{color: var(--col-smoke);}
.Dark .Work-Item{ border-color: var(--col-stale);}
.Dark .Work-Item-Icon{background-color: var(--col-white);}
.Dark .Work-Item-Icon::before, .Dark .Work-Item-Icon::after{background-color: var(--col-white);}
.Dark .link {color: var(--col-white);}
.Dark .link:hover {color: var(--col-white);}
.Dark .link:hover::after{ background-color: var(--col-white); }
.Dark .Experience-Header{color: var(--col-white);}
.Dark .Experience-Header:hover .Experience-Toggle{background-color: var(--col-gray);}
.Dark .Experience-Toggle::before, .Experience-Toggle::after{background-color: var(--col-white);}
/* ======================== /DARK ======================== */






/* ------------------------- Motion coin ------------------------- */
.motionCoin{
    background-color: #605DEC;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.Coin{
    position: relative;
    width: 200px;
    height: 200px;
    
}
.Coin-credi{
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    animation: coin-jump 2000ms ease-in-out infinite;
}
.Coin-spark{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
}
.spark1{
    top: 40px;
    left: 40px;
    background: url('./Static/images/case-study/credilikeme/coin/spark.svg') no-repeat center;
    background-size: 20px;
    animation: spark-opacity 4500ms ease-in-out infinite;
}
.spark2{
    top: 70px;
    left: 140px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: spark-opacity 3500ms ease-in-out infinite;
}
.spark3{
    border-radius: 50%;
    top: 120px;
    left: 50px;
    width: 10px;
    height: 10px;
    animation: spark-opacity 5500ms ease-in-out infinite;
}
.Coin-shadow{
    width: 70px;
    height: 10px;
    position: absolute;
    background-color: rgba(51, 49, 113, 0.4);
    bottom: 20px;
    left: 50%;
    margin-left: -35px;
    border-radius: 50%;
    animation: shadow-stresh 2000ms ease-in-out infinite;
}

@keyframes coin-jump {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}

@keyframes shadow-stresh {
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}

@keyframes spark-opacity {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



/* -------------------------------------------------- */


