body{
	background: #02030D;
	color: #ffffff;
	display: block;
	font-family: "Avenir Next", "Noto sans", sans-serif;
	margin:0;
	padding: 0;
	text-align: left;
	font-size: 1em;
	line-height: 1.8em;
}


.Main{
	display: block;
	height: 100vh;
}
.Container{
	padding: 100px;
}

.Intro p{
	font-size: 20px;
	color: #86878D;
	font-weight: 700;
	text-transform: uppercase;
}
.Intro .trigger{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	position:  relative;
	transition: all .3s cubic-bezier(.8,0,.2,1);
}
.Intro .trigger:after{
	content: '';
	display:  block;
	position: absolute;
	width:  100%;
	height:  80%;
	background-color: #ffffff;
	left: 0;
	transition: all .3s cubic-bezier(.8,0,.2,1);
	top: 10%;

}
.Intro .trigger.is-clicked:after{
	height: 4px;
	top: 10px;
	left: 110%;
	width:  4px
}
.Socials{
	position: absolute;
	bottom: 100px
}
.Socials ul{
	padding: 0
}
.Socials ul li{
	display: inline-block;
	margin-right: 20px;
}
.Socials_link{
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
}
.Socials_link span{
	display:  none;
}
.Socials_link:after{
	position: absolute;
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	top: 17px;
	left: 17px;
	background-color: #86878D;
	transition: all .3s cubic-bezier(.8,0,.2,1);
}
.Socials_link.linkedin:after{
	background-color: #0084BF;
}
.Socials_link.dribbble:after{
	background-color: #EA4C89;
}
.Socials_link.twitter:after{
	background-color: #1DA1F2;
}
.Socials_link.instagram:after{
	background-color: #285AEB;
}

.Description{
	color: #86878D;
	margin-top: 100px;
	max-width: 500px;
}

.Description h2{
	color: #ffffff;
	font-size: 20px
}
.Description p{
	margin-bottom: 40px;
	margin-top: 5px;
}
.Description p span{
	color: #ffffff;
}
.Description .link_things{
	position: relative;
	color: #ffffff;
	text-decoration: none;
}
.Description .link_things:after{
	content: '';
	display:  block;
	background-color:  #ffffff;
	position:  absolute;
	right: -30px;
	top: 50%;
	transition: all .3s cubic-bezier(.8,0,.2,1);
	width:  24px;
	height: 2px;
}
.Description .link_things:hover:after{
	right: -35px;
}
.Description .trigger,
.Description .link{
	color: #ffffff;
	text-decoration: none;
}
.content{
	display: none;
}
.is-show{
	display: block;
}

@media only screen and (min-width:601px){
	
}

@media only screen and (min-width:1000px){
	.Socials_link:hover:after{
		width: 20px;
		height: 20px;
		top: 10px;
		left: 10px;
	}
	.Socials_link.linkedin:after,
	.Socials_link.dribbble:after,
	.Socials_link.twitter:after,
	.Socials_link.instagram:after{
		background-color: #86878D;
	}

	.Socials_link.linkedin:hover:after{
		background-color: #0084BF;
	}
	.Socials_link.dribbble:hover:after{
		background-color: #EA4C89;
	}
	.Socials_link.twitter:hover:after{
		background-color: #1DA1F2;
	}
	.Socials_link.instagram:hover:after{
		background-color: #285AEB;
		background-image: linear-gradient(45deg,#405de6 0,#e1306c 50%,#fcaf45 90%);		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff5c', endColorstr='#285aeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.Intro .trigger:hover:after{
		height: 4px;
		top: 10px;
	}

	
}

@media only screen and (min-width:1400px){
	
}