body{
	background: #fff;
	color: #3A3A3A;
	display: block;
	font-family: "Merriweather", "Avenir Next", "Noto sans", sans-serif;
	margin:0;
	padding: 0;
	text-align: left;
	font-size: 1em;
	line-height: 1.8em;
}


.main{
	display: block;
	padding: 100px 40px;
}

.icon{
	background: white;
	border-radius: 50%;
	display: block;
	height: 80px;
	margin:0 0 20px 0; 
	width: 80px;
	vertical-align: top;
	box-shadow: 0 5px 40px -5px rgba(81, 91, 245, 0.4);
}

.icon img{
	width: 80%;
	margin: 10%;
}

.info{
	margin:0;
	display: inline-block;
}
.name{
	font-size: 36px;
	margin: 0 0 10px 0;
	font-family: "Merriweather";
}
.position{
	font-family: "Avenir Next", "Noto sans", sans-serif;
	color:#999999;
	margin: 0 0 30px 0;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}
.mail{
	font-family: "Avenir Next", "Noto sans", sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
.link{
	text-decoration: none;
	display: inline-block;
	transition: all ease .2s;
	color: #3C25FC;
	position: relative;
}
.link::after{
	background:  rgba(60, 37, 252, 0.3);
	bottom: 0;
	content: '';
	height: 0%;
	left:  0;
	position: absolute;
	transition: all ease .2s;
	width:  100%;
}

.link:hover::after{
	opacity: 0.6;
	height: 100%;
}
.social{
	text-decoration: none;
	display: inline-block;
	margin-right: 5px;
	transition: all ease .2s;
	padding:  10px;
	filter: grayscale(1);
}
.social span{
	display:  none;
}
.social:hover{
	filter: none;
	transform: scale(1.2);
}

.circle{
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	display: block;
	position: fixed;
	z-index: -1000;
}
.circle-1{
	background-image: url('circles/blue.svg');
	top: -300px;
	width:  500px;
	height:  500px;
	left: 35%;
}
.circle-2{
	background-image: url('circles/purple.svg');
	left: -250px;
	width:  300px;
	height:  300px;
	top: 40%;
}
.circle-3{
	background-image: url('circles/black.svg');
	bottom: -140px;
	width:  200px;
	height:  200px;
	right: 10%;
}

@media only screen and (min-width:601px){
	.main{
		height: 200px;
		left:50%;
		margin-left: -30%;
		margin-top: -100px;
		padding: 0;
		position: absolute;
		top:50%;
		width: 60%;
		z-index: 10;
	}
	.icon{
		display: inline-block;
	}
	.info{
		width: calc(100% - 150px);
		margin:0 0 0 40px;
		display: inline-block;
	}
}

@media only screen and (min-width:1000px){
	.main{
		width: 53%;
		margin-left: -25%;
	}

}

@media only screen and (min-width:1400px){
	.main{
		width: 35%;
		margin-left: -18%;
	}

}