:root {
	--acent-color:#305AFE;
	--black-color:#141410;
	--gray-color:#6F7389;
	--white-color:#F5F5F3;
}

html{
	scroll-behavior: smooth;
}
body{
	display: block;
	font-family: 'Roboto Mono', monospace;
	margin:0;
	padding: 0;
	text-align: center;
	font-weight: normal;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: var(--black-color);
  background-color: var(--white-color);
}
a{
	text-decoration: none;
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
img{
  width: 100%;
  display: block;
  border: 0;
  margin:0 auto;
}
*{
  box-sizing: border-box;
}
.Main{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGUlEQVQYV2NkYGD4z8DAwMiABFA4MHEKBQFmoAEGlW1mUAAAAABJRU5ErkJggg==) repeat;
}

.Container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.Section{
  background-color: var(--white-color);
  border: solid 1.5px var(--black-color);
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
  box-shadow: 3px 3px 0 var(--black-color);
}
.Title{
  position: relative;
  left: 0;
  top: 0;
  border-bottom: solid 1.5px var(--black-color);
  width: 100%;
  height: 38px;
}
.Title-square{
  width: 18px;
  height: 18px;
  background-color: var(--white-color);
  border: solid 1.5px var(--black-color);
  position: absolute;
  top: 10px;
}
.Title-square.right{
  right: 10px;
}
.Title-square.left{
  left: 10px;
}
.Title-line{
  border-bottom: solid 1.5px var(--black-color);
  position: absolute;
  width: calc(100% - 76px);
  left: 38px;
}
.Title-line:nth-child(3){
  top: 11px;
}
.Title-line:nth-child(4){
  top: 16px;
}
.Title-line:nth-child(5){
  top: 21px;
}
.Title-line:nth-child(6){
  top: 26px;
}
.Title-content{
  display: inline-block;
  background-color: var(--white-color);
  padding: 1px 60px;
  position: relative;
  z-index: 10;
}
h2{
  margin: 5px auto 0;
  font-size: 20px;
  font-weight: 900;
}

h1{
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  margin:0;
}
p{
  font-size: 18px;
  font-weight: 200;
}

.Hero{}
.Hero p{
  font-size: 20px;
}
.Hero p small{
  font-size: 14px;
}
.Hero-img{
  width: 49%;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  font-size: 0;
}
.Hero-img img{
  max-width: 375px;
}
.Hero-description{
  vertical-align: middle;
  width: 49%;
  display: inline-block;
  text-align: left;
}


.Link{
  display: inline-block;
  text-decoration: underline;
  color: var(--black-color);
}

.Button{
  display: inline-block;
  padding: 10px 30px;
  border: solid 1.5px var(--black-color);
  color: var(--black-color);
  font-size: 16px;
  margin-top: 40px;
}

.List{
  width: 100%;
}
.List-content{
  padding: 40px;
}

ul{
  display: inline-block;
  width: 24%;
  vertical-align: top;
  text-align: left;
  list-style: none;
  padding-left: 0;
}
ul p{
  margin:0;
}

.Overlay{
  position: relative;
  min-height: 700px;
}
.Overlay h4{
  margin-bottom: 5px;
}
.Overlay p{
  font-size: 14px;
  margin: 0;
}

.Instructions{
  max-width: 800px;
  position: absolute;
  left: 40px;
}

.Instructions-content{
  padding: 40px;

}
.Instructions ul{
  width: 100%;
}

.Banner{
  text-align: left;
  max-width: 524px;
  position: absolute;
  right: 40px;
  top: 350px;
}
.Banner .Title .Title-content{
  display: none;
}
.Banner-content{
  padding: 40px;
}
.Banner img{
  max-width: 60px;
  margin: 0;
}

.Footer{
  width: 100%;
  text-align: left;
  padding: 40px 0;
}
.Crafted{
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.Share{
  display: inline-block;
  position: fixed;
  bottom: 200px;
  right: 0px;
  transform: rotate(-90deg);
  background-color: var(--white-color);
  padding: 4px 20px;
}
.Share p{
  margin:0;
  font-size: 14px;
}
.Share a{
  font-weight: 900;
  text-decoration: none;
  position: relative;
}


@media only screen and (min-width:1100px){
  .Button:hover{
    box-shadow: 3px 3px 0 var(--black-color);
  }
  .Share a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--black-color);
    transition: width ease 0.4s;
  }
  .Share a:hover:after{
    width: 100%;
  }
}