:root{
    --dark-color: #23232A;
    --black-color: #000000;
    --light-color: #E1E7FE;
    --primary-color: #5B45FF;
    --acent-color: #FF0F77;
    --family-primary: "Archivo Black";
    --family-second: "Avenir Next", "Noto Sans";
}

html{
	scroll-behavior: smooth;
}
body{
	background: var(--light-color);
	color: var(--primary-color);
	display: block;
	font-family: "Avenir Next", "Archivo Black", "Noto sans", sans-serif;
	margin:0;
	padding: 0;
	text-align: center;
	font-size: 1em;
}

h1,h2,h3,h4{
	display: inline-block;
	margin: 1em;
}
img{
    
    width: 100%;
}
a{
    text-decoration: none;
    font-family: var(--family-second);
    letter-spacing: 0.5px;
    font-weight: 700;
    color: var(--primary-color);
}
.main{
	position: relative;
}
.desktop{
    display:none;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    padding: 30px 0;
    position: absolute;
    width: 100%;
}
.header .container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.header-link{
    display: inline-block;
    max-width: 40px;
}
.header-get{
    width: 120px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--acent-color) 100%);
    border-radius: 24px;
    color: var(--light-color);
}
.hero{
    background: var(--dark-color);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(35,35,42,1) 100%);
    color: var(--light-color);
    padding: 120px 0 90px 0;
}
.hero .container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-content{
    text-align: left;
    width: 100%;
    display: block;
}
.hero-caption{}

.hero-caption-img{
    max-width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.hero-caption p{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: var(--family-second);
}
.hero-tagline{
    font-family: var(--family-primary);
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    margin: 0;
}
.hero-description{
    width: 100%;
    max-width: 400px;
    margin-top: 40px;
}
.hero-description p{
    font-family: var(--family-second);   
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.hero-image{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.toggle-dark{
    border-radius:50%;
	box-shadow:inset 0px 0px 0px 2px var(--dark-color);
	display: none;
	height:14px;
	opacity:1;
	overflow:hidden;
	padding:0 !important;
	position:relative;
	transform:box-shadow .3s ease-in-out;
    width:14px;
}
.toggle-dark span{
    display: none;
}
.toggle-dark:after {
    content:'';
    display:block;
    position:absolute;
    width:100%;
    transition:all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: var(--dark-color);
    left:0;
    transform:translateX(-50%);
    height:100%;
    top:0;
}
.toggle-dark.is-night{
    box-shadow:inset 0px 0px 0px 2px var(--light-color);
}
	
.toggle-dark.is-night:after{
    background-color:var(--light-color);
	transform:translateX(50%);
}
.toggle-dark.is-night:after:hover{
    opacity:.7;
}


.features{
    padding: 80px 0;
    transition:all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.features-slider,
.features-content{
    width: 100%;
    max-width: 550px;
    display: inline-block;
}
.features-slider{
    text-align: center;
    order: 1;
}
.slider{
    display: block;
    width: 100%;
    margin: 40px auto 0;
    color: var(--dark-color);
    font-weight: 700;
}
.slider-content{
    background-color: #FAFAFF;
    border-radius: 25px;
    box-shadow: -10px -10px 40px 0 rgba(175,186,221, .1), 20px 20px 40px 0 rgba(55,84,170, 0.5);
    box-shadow: inset -3px -3px 5px 0 rgba(55,84,170, .1), inset 3px 4px 5px 0 rgba(255,255,255, 1);
    padding: 40px;
    min-height: 300px;
}

.slider img{
    margin: 40px auto;
}
.owl-carousel.is-hide{
    /* display: none; */
    overflow: hidden;
    height: 0;
}
.owl-carousel.is-active{
    /* display: block; */
    overflow: hidden;
    height: auto;
}
.owl-dot {
    outline: none;
}
.owl-dot span{
    display: block;
    background-color: var(--primary-color);
    width: 4px;
    height: 4px;
    margin: 8px;
    opacity: .3;
    border-radius: 10px;
}
.owl-dot.active span{
    opacity: 1;
    width: 20px;
}

/* Change theme Alt */
.features.is-alt{
    background-color: rgba(255,238,245, 1)
}
.features.is-alt .owl-dot span{
    background-color: var(--acent-color);
}
.features.is-alt .features-caption p{
    color: var(--acent-color);
}

.features.is-alt .slider-content{
    background-color: #FFFEFF;
    box-shadow: inset -3px -3px 5px 0 rgba(255,15,119, .1), inset 3px 4px 5px 0 rgba(255,255,255, 1);
}

/* /change theme */





.features-content{
    text-align: left;
}
.features-caption p{
    font-size: 14px;
    font-family: var(--family-second);
    font-weight: 600;
    text-transform: uppercase;
}
.features-title{
    font-family: var(--family-primary);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    margin: 0;
    color: var(--dark-color);
}
.features-description{
    max-width: 480px;
    margin-top: 40px;
    font-family: var(--family-second);
    font-size: 18px;
    line-height: 1.6;
    color: var(--dark-color);
}
.features-cta{
    margin-top: 40px;
}

.button{
    text-decoration: none;
    border-radius: 25px;
    line-height: 44px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    border: solid 3px transparent;
    transition:all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.button.button-default{
    color: var(--primary-color);
    margin-right: 20px;
}
.button-default.is-active{
    border: solid 3px var(--primary-color);
}
.button.button-alternative{
    color: var(--acent-color);
}
.button-alternative.is-active{
    border: dashed 3px var(--acent-color);
}

.example{
    background: var(--dark-color);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(35,35,42,1) 100%);
    padding: 40px 0 60px;
}
.example-title{
    font-family: var(--family-primary);
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    color: var(--light-color);
}
.example video{
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.get{
    padding: 80px 0;
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(35,35,42,1) 100%);
}
.get-title{
    font-family: var(--family-primary);
    font-size: 40px;
    letter-spacing: -2px;
    margin-top: 0;
    max-width: 500px;
    color: var(--light-color);
}
.get .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.get-option{
    width: 400px;
    display: inline;
    border-radius: 25px;
    margin-bottom: 40px;
    background: linear-gradient(-45deg, #000 0%, #07070A 100%);
    box-shadow: -10px -10px 40px 0 rgba(35,35,42, .1), 20px 20px 40px 0 rgba(0,0,0, 0.5);
    box-shadow: inset -3px -3px 5px 0 rgba(35,35,42, .1), inset 3px 4px 5px 0 rgba(0,0,0, 1);
}
.get-option-title p{
    font-family: var(--family-second);
    font-weight: 600;
}
.get-option-title h3{
    font-size: 64px;
    line-height: 80px;
    margin: 0 0 20px 0;
}
.get-option .button{
    line-height: 56px;
    width: 100%;
    border-radius: 40px;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0;
    border: none;
}
.get-content{
    padding: 30px 20px;
    padding-bottom: 50px;
    position: relative;
}
.get-items-list{
    text-align: left;
    list-style: none;
    min-height: 130px;
    list-style-image: url(../img/icon-check.svg);
    color: var(--light-color);
    padding: 0 0 0 20px;
}
.get-items-list li{
    margin-bottom: 10px;
}
.get-items-list li p{
    margin: 0;
}

.get-pro{
    color: var(--acent-color);
    border: solid 2px var(--acent-color);
}
.get-option.get-pro{
    box-shadow: none !important;
    background: transparent;
}

.get-pro .get-items-list{
    color: var(--acent-color);
    list-style-image: url(../img/icon-check-pink.svg);
}

.button.button-buy{
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--acent-color) 100%);
    color: var(--light-color);
    border:none;
}


.footer{
    background: var(--black-color);
    padding: 40px 0;
    color: var(--dark-color);
}
.footer p {
    margin: 0;
    display: inline-block;
    width: 30%;
}
.footer a{
    color: var(--dark-color);
}




@media only screen and (min-width:1000px){
    .mobile{
        display: none;
    }
    .desktop{
        display: block
    }
    .header{
        padding: 40px 0;
    }
    .header .container{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .header-link{
        display: inline-block;
        max-width: 40px;
    }
    .header-get{
        width: 120px;
    }
    .hero{
        padding: 80px 0 90px 0;
    }
    .hero .container{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .hero-content{
        max-width: 550px;
        display: inline-block;
        vertical-align: bottom;
    }
    .hero-caption{}
    
    .hero-caption-img{}

    .hero-caption p{
        font-size: 18px;
    }
    .hero-tagline{
        font-size: 90px;
        line-height: 80px;
    }
    .hero-description{
        width: auto;
    }
    .hero-description p{
        font-size: 18px;
    }
    .hero-image{
        width: auto;
        max-width: 450px;
        margin-top: 0;
    }
    
    .features{
        padding: 140px 0;
    }
    .features .container{
        flex-wrap: nowrap;
    }
    .features-slider{
        order: 0;
    }
    .slider{
        width: 380px;
    }
    .slider-content{
        min-height: 500px;
    }
    
    .owl-dots{
        margin-top: 40px;
    }

    .features-title{
        font-size: 48px;
        line-height: 56px;
    }
    
    .features-cta{
        margin-top: 80px;
    }
    
    
    .button{
        transition:all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .button-default:hover,
    .button-default.is-active{
        border: solid 3px var(--primary-color);
    }
    .button.button-alternative{
        color: var(--acent-color);
    }
    .button-alternative:hover,
    .button-alternative.is-active{
        border: dashed 3px var(--acent-color);
    }
    
    .example{
        padding: 130px 80px;
    }
    .example-title{
        font-size: 48px;
        line-height: 56px;
    }
    
    .get{
        padding: 130px 0;
    }
    .get-title{
        font-size: 48px;
        line-height: 56px;
    }
    .get-content{
        padding: 40px;
        padding-bottom: 60px;
    }
    .get-items-list{
        min-height: 230px;
    }
    .get .button:hover{
        opacity: .8;
        box-shadow: 0 0 0 5px rgba(255,255,255, .2);
    }
    
    .footer{
        background: var(--black-color);
        padding: 40px 0;
        color: var(--dark-color);
    }
    .footer p {
        margin: 0;
        display: inline-block;
        width: 30%;
    }
    .footer a{
        color: var(--dark-color);
    }   
}